<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.online.myfirebase">

    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyFirebase">
        <activity
            android:name=".activity.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.RegisterActivity"/>
        <activity android:name=".activity.AddProductActivity"/>
        <activity android:name=".activity.seller.SellerHomeActivity"/>
        <activity android:name=".activity.seller.DetailProductSeller"/>
        <activity android:name=".activity.seller.CartActivitySeller"/>
        <activity android:name=".activity.seller.SellerDetailCartActivity"/>
        <activity android:name=".activity.buyer.BuyerHomeActivity"/>
        <activity android:name=".activity.buyer.DetailProductBuyer"/>
        <activity android:name=".activity.buyer.CartActivityBuyer"/>
        <activity android:name=".activity.buyer.BuyerDetailCartActivity"/>
    </application>

</manifest>